<div class="login">
  <div class="w-25 mx-auto bg-light my-3 text-center py-2 text-white bg-dark border border-dark rounded">
    <h4>
      Sign in with your username...
    </h4>
  </div>

<div class="form-signin w-25 m-auto">
  <%= simple_form_for @user, url: sessions_path, class: 'form-signin w-25 m-auto' do |f| %>
    <%= f.label :username, class: 'sr-only'  %>
    <%= f.text_field :username, placeholder: 'Username',
          required: true, class: 'form-control p-3 h3 text-center py-4' %>
    <%= f.submit 'Sign In', class: 'btn btn-lg btn-light text-dark btn-block mt-3' %>
  <% end %>
  <%= sign_up_links %>
</div>
