<%= simple_form_for(@opinion) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-inputs">
      <%= f.input :text, label: "Share your opinion...", input_html: { class: "textarea "}, 
      wrapper: false, label_html: {class: "label"}, placeholder: "Compose a new opinion...", 
      autofocus: true %>
  </div>
  <%= f.button :submit, class: "form-actions" %>
<% end %>