<%= render 'layouts/navbar' %>
<p id="notice" class="notifications"><%= notice %></p>
<%= render 'layouts/left_side' %>
<div class="users_page">
  <h1 class="text-center text-white rounded-circle bg-dark">Users Page</h1>
    <div class="card-group col-12 mb-3">
      <% @users[0..2].each do |user| %>
      <% next if user == current_user %>
        <div class="card col-4  px-1 card_user_page">
          <%= image_tag(user.user_page_photo(:photo)) %>
              <%= link_to user.fullname, user_path(id: user.id), class: 'text-center' %>
                <small class= "text-center">@<%= user.username %></small>
                <small class="text-muted text-center">Latest update:<%= user.updated_at.strftime('%I: %M %p') %></small>
            <div class="card-footer text-center">
              <%= link_to 'Profile', user, class: 'badge badge-pill bg-dark text-white' %>
              <%= render 'user_follow_btn', user: user %>
            </div>
        </div>
      <% end %>
    </div>

    <div class="card-group col-12 mb-3">
      <% @users[2..6].each do |user| %>
      <% next if user == current_user %>
        <div class="card col-4  px-1 card_user_page">
          <%= image_tag(user.user_page_photo(:photo)) %>
              <%= link_to user.fullname, user_path(id: user.id), class: 'text-center' %>
                <small class= "text-center">@<%= user.username %></small>
                <small class="text-muted text-center">Latest update:<%= user.updated_at.strftime('%I: %M %p') %></small>
            <div class="card-footer text-center">
              <%= link_to 'Profile', user, class: 'badge badge-pill bg-dark text-white' %>
              <%= render 'user_follow_btn', user: user %>
            </div>
        </div>
      <% end %>
    </div>

</div>

