
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/left_side' %>

  <p id="notice"><%= notice %></p>


<div class="userpage">
  <div class="card">
    <%= render 'users/right_side' %>
      <ul class="d-flex">
        <div class="username_cover">
          <li>
            <%= image_tag(@user.top(:coverimage)) %>
          </li>
          <li class="follow-btn rounded">
            <%= render 'users/follow_btn' %>
          </li>
          <li>
              <small class="username"><%= @user.username %></small>
          </li>
        </div>
        <div class="media">
          <div class="media-body mx-2">
            <h5 class="username_right_side"><%= @user.fullname %></h5>
            </div>
        </div>
    </ul>
  </div>
</div>

