<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <span class="px-1">
    <i class="fas fa-ring"></i>
  </span>
  <%= link_to "Let's talk about music...", opinions_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="navbar-nav">
    <%= sign_out_links %>
    <%= sign_up_links %> 
  </div>
    <% if signed_in? %>
    <ul class="navbar-nav d-flex justify-content-around w-75">
      <%= link_to 'Users', users_path, class: 'navbar-nav d-flex justify-content-around w-25' %>
    </ul>
    <ul class="navbar-nav ml-auto d-flex">
      <li><%= link_to "#{current_user.username}", user_path(current_user_id)  if signed_in? %> 
    </ul>
    <% end %>
  </div>
</nav>